
  

 <div class="cont">
  
  <div class="form sign-in">
    <form class="form" (ngSubmit)="userForm.valid && onsubmit()" [formGroup]="userForm">
    <h2>Welcome back,</h2>

    <label>
      <span>UserName</span>
      <input type="text" formControlName="userName" id="userName" name="userName" placeholder="Username" />
    </label>

    <label>
      <span>Name</span>
      <input type="text" formControlName="name" id="userName" name="Name" placeholder="Name" />
    </label>

    <label>
      <span>FirstName</span>
      <input type="text" formControlName="firstname" id="userName" name="FirstName" placeholder="Firstname" />
    </label>

    <label>
      <span>Email</span>
      <input type="text" formControlName="email" id="userName" name="userName" placeholder="Email" />
    </label>

    <label>
      <span>Password</span>
      <input type="text" formControlName="password" id="userName" name="userName" placeholder="Password" />
    </label>

    <label>
      <span>Confirm password</span>
      <input type="password" placeholder="Confirm password" formControlName="passwordUser" id="password" name="user_password" />
    </label>

    <button type="submit" class="submit">Sign Up</button>
    <button type="button" (click)="navigateConnexion()" class="signin-btn">
      <i class="m--up"></i>Sign In
    </button>
    
    </form>


  </div>
  <div class="sub-cont">
    <div class="img" >
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
     
      <div (click)="navigateConnexion()"  class="img__btn">
        <span  class="m--up">Sign In</span>
       
        
      </div>
    </div>
    
  </div>
</div>