
  <nav class="menu" tabindex="0">
    <div>
    <div  class="smartphone-menu-trigger">
    <header class="avatar">
   
      <!--- afficher le nom -->

      

  


      <h2>  </h2>
      
    </header>
    </div>
    <ul>
      <li tabindex="0" class="icon-dashboard">
        <a class="menu__link r-link text-underlined" [routerLink]="['/home']" >home</a>
      </li>

      <li *ngIf="estConnecter != null" tabindex="0" class="icon-customers">
        <a class="menu__link r-link text-underlined" [routerLink]="['/profil']" >profil</a>
      </li>

      <li *ngIf="estConnecter == null" tabindex="0" class="icon-users">
        <a href="#0" class="menu__link r-link text-underlined"[routerLink]="['/inscription']" >inscription</a>
      </li>

      <li *ngIf="estConnecter == null" tabindex="0" class="icon-settings">
        <a href="#0" class="menu__link r-link text-underlined"[routerLink]="['/connexion']" >connexion</a>
      </li>

      <li *ngIf="estConnecter != null" tabindex="0" class="icon-settings">
        <a  class="menu__link r-link text-underlined" (click)="effacerStorage()"
            [routerLink]="['/connexion']" routerLinkActive="router-link-active">Deconnexion</a>
    </li>

    <li tabindex="0" class="icon-dashboard">
      <a class="menu__link r-link text-underlined" [routerLink]="['/upload']" >upload</a>
    </li>
</ul>
</div> 







    
  </nav>
  
  


  