
  <nav class="menu" tabindex="0">
    <div>
    <div  class="smartphone-menu-trigger">
    <header  class="avatar">
      <div *ngFor = "let image of avatarUser" >
      <img   id="card-img"    [src]="image.url" alt="profil picture">
    </div>
    <div *ngFor="let item of estConnecter">
      <h1 class="name" > {{item.name}} {{item.firstname}} </h1>
      </div>
      <!--- afficher le nom -->

      

  


      <h2> </h2>
      
    
      
    </header>
    </div>
    <ul>

      <li *ngIf="estConnecter != null" tabindex="0" class="icon-customers">
        <a class="titre"  [routerLink]="['/articleuser']" >écrire un article</a>
      </li>

      <li tabindex="0" class="icon-dashboard">
        <a class="titre"  [routerLink]="['/home']" >home</a>
      </li>

      <li *ngIf="estConnecter != null" tabindex="0" class="icon-customers">
        <a class="titre"  [routerLink]="['/profil']" >profil</a>
      </li>

      <li *ngIf="estConnecter == null" tabindex="0" class="icon-users">
        <a href="#0" class="titre"[routerLink]="['/inscription']" >inscription</a>
      </li>

      <li *ngIf="estConnecter == null" tabindex="0" class="icon-settings">
        <a href="#0" class="titre"[routerLink]="['/connexion']" >connexion</a>
      </li>

      <li *ngIf="estConnecter != null" tabindex="0" class="icon-settings">
        <a  class="titre" (click)="effacerStorage()"
            [routerLink]="['/connexion']" routerLinkActive="router-link-active">Deconnexion</a>
    </li>



    <li tabindex="0" class="icon-dashboard">
      <a class="titre" [routerLink]="['/contacte']" >contacte</a>
    </li>
</ul>
</div> 







    
  </nav>
  
  


  