<div class="article">
  <h1 class="title">  {{ afficheArticle.titre }}</h1>
  <h2 class="country"> {{afficheArticle.pays.name}} </h2>
  <div class="photos">
    <div class="row">
      <div class="column" *ngFor="let picture of afficheArticle.files" >
        <img id="myImage" src="{{urlfiles+picture}}"  alt="photo 1">
      </div>
    </div>
  </div>
  <p class="content"> {{afficheArticle.content}} </p>
  <div class="height"> {{afficheArticle.firstname}} {{afficheArticle.lastname}}  </div>
</div>

<div class="comments-container">
  <div class="comment-form">
    <h3>Ajouter un commentaire</h3>
    <form (ngSubmit)="onValid()">
      <div>
        <label for="commentaire">Commentaire :</label>
        <textarea name="commentaire" [(ngModel)]="commentaire" required></textarea>
      </div>
      <button type="submit">Envoyer</button>
    </form>
  </div>
  <div class="comment-list">
    <div class="comment" *ngFor="let item of commentArticle">
      <div class="comment-header">
        <div class="comment-avatar">
          <img src="{{urlfiles+item.avatar}}" alt="Profile Picture">
         
        </div>
        <div class="comment-info">
          <h4>{{item.lastname}} {{item.firstname}}</h4>
        </div>

      </div>
      <div class="comment-body">
        <p class="comment-user">{{item.comment}}</p>
        <p class="comment-date">25/10/2023</p>
      </div>
    </div>
  </div>
</div>
