<div class="contenue" id="article" >
  <section>
    <div class="container">
      <hr id="one" />
      <h1 class="tritre_principal">{{ afficheArticle.pays.name }}</h1>
      <hr id="two" />
      <div class="carousel">
        <input
        *ngFor="let picture of afficheArticle.files"
          type="radio"
          name="slides"
          id="{{ picture }}"
        />

        <ul class="carousel__slides">
          <li *ngFor="let picture of afficheArticle.files" class="carousel__slide">
            <figure>
              <div>
                <img class="carousel" src="{{urlfiles+picture}}" alt="" />
              </div>
            </figure>
          </li>
        </ul>

        <ul class="carousel__thumbnails">
          <li *ngFor="let picture of afficheArticle.files" class="carousel">
            <label for="{{ picture }}"><img src="{{urlfiles+picture}}" alt="" /></label>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="card">
    <div id="titre_secondaire">
      <h2>{{ afficheArticle.titre }}</h2>
    </div>

    <div class="separator"></div>
    <p>{{ afficheArticle.content }}</p>
  </div>

  <div class="author">
    <img src="{{urlfiles+afficheArticle.avatar}}" />
    <h3 class="name">{{ afficheArticle.name }} {{ afficheArticle.firstname }}</h3>
  </div>
</div>

<!-- commentaire de l'article  -->

<div class="container_coment">
  <h1 class="comment_area">Comment area</h1>

  <div class="row" *ngFor="let item of commentaire">
    <div class="col-md-6">
      <div class="contenair_avatar">
        <img class="avatarcomments" [src]="urlfiles+item.avatar" />
      </div>

      <div class="card_comment">
        <div class="card-user">
          <h5 class="comment-user">{{ item.name }} {{ item.firstname }}</h5>
        </div>

        <div class="comment_content">
          <p>{{ item.comment }}</p>
        </div>
      </div>
    </div>
  </div>

  <!--ecrire un commantaire-->
  <div class="form_comment">
    <form
      *ngIf="estConnecter == true"
      (ngSubmit)="commentForm.valid && onValid()"
      [formGroup]="commentForm"
    >
      <div class="form-group">
        <label class="comment-titre">Write your comment</label>
        <textarea
          formControlName="commentaire"
          id="content"
          name="content"
          required=""
          rows="4"
          type="text"
        ></textarea>
      </div>
      <button class="comment_btn" type="submit">Envoyer</button>
    </form>
  </div>
</div>
