.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.country {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.photos {
  max-width: 800px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.column {
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}

.column:hover {
  transform: scale(1.5);

}

.photos img {
  width: 100%;
  height: auto;
  cursor: pointer;
}



.content {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
  max-width: 800px; 

}

.height {
  font-size: 24px;
  text-align: center;
  color: #cc5500;
  
}

.comment-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
}

.comment-form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

.comment-form input[type="text"],
.comment-form textarea {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  resize: none;
  height: 100px;
}

.comment-form button[type="submit"] {
  background-color: #ff6600;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button[type="submit"]:hover {
  background-color: #cc5500;
}

.comment-list {
  margin-top: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.comment-user {
  font-size: 16px;
  font-weight: bold;

}

.comment-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.comment-info .comment-date {
  margin: 0;
  font-size: 14px;
  color: #999;
  text-align: right;
}

.comment-body p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
