<div id="article" *ngFor="let item of afficheArticle">
  <section>
    <div class="container">
      <hr id="one" />
      <h1 class="tritre_prrincipal">{{ item.pays.name }}</h1>
      <hr id="two" />
      <div class="carousel">
        <input *ngFor="let item of imagearticle" type="radio" name="slides" id="{{item}}" />
      
        <ul class="carousel__slides">
          <li *ngFor="let item of imagearticle" class="carousel__slide">
            <figure>
              <div>
                <img  class="carousel" [src]="item" alt="" />
              </div>
             
            </figure>
          </li>
        </ul>

        <ul class="carousel__thumbnails">
          <li *ngFor="let item of imagearticle" class="carousel" >
            <label for="{{item}}"
              ><img [src]="item" alt=""
            /></label>
          </li>
          
        </ul>
      </div>
    </div>
  </section>

  <div class="card">
    <div id="titre_secondaire">
      <h1>{{ item.titre }}</h1>
    </div>

    <div class="separator"></div>
    <p>{{ item.content }}</p>
  </div>

  <div class="author">
    <img *ngFor="let image of avatar" [src]="image.avatar" />
    <h2 class="name">{{ item.name }} {{ item.firstname }}</h2>
  </div>
</div>
