<div class="container ">
    <div class="main-body ">
  
  
      <!-- /Breadcrumb -->
      <div class="row gutters-sm mt-5">
  
        <div class="col-md-12">
          <form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form">
            <div class="card mb-3">
              <div class="card-body">
                
                
                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Country</h6>
                  </div>
                  <input formControlName="country" class="col-sm-5 text-secondary" [value]="user.country" />
                </div>
                
                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <h6 class="mb-0">city</h6>
                  </div>
                  <input formControlName="city" class="col-sm-5 text-secondary" [value]="user.city">
                </div>
                
                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Description</h6>
                  </div>
                  <input formControlName="description" class="col-sm-5 text-secondary" [value]="user.description">
                </div>

                <div class="row justify-content-center">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Number Phone</h6>
                  </div>
                  <input formControlName="number_phone" class="col-sm-5 text-secondary" [value]="user.number_phone">
                </div>
                      
                  <div class="col-sm-12">
                    <button class="btn btn-info pull-right" type="submit">Modifier</button>
                  </div>
  
              </div>
            </div>
          </form>
        </div>
      </div>
      
  