<div  class="container ">
    <div class="main-body ">
  
  
      <!-- /Breadcrumb -->
      <div class="row gutters-sm mt-5">

        <!-- image rond -->

        <div class="col-md-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div  class="card-img-actions mx-auto" id="cont" >
                <div class="card-img-top img-fluid" >                
                  <img *ngFor = "let image of avatarUser"  id="card-img"    [src]="image.url" alt="profil picture" style="cursor: pointer" onclick="document.getElementById('file').click();" >
                  <p *ngFor="let item of res" > {{item.name}} {{item.firstname}} </p>
                </div>
              
                <div class="file-change">
                  <input type="file" 
                  value="coucou"
                  style="display: none;"
                  id="file"
                  (change)="handleFileInput($event.target.files)">
                </div>

                <div class="col-md-12">
                  <form (ngSubmit)="form.valid && onSubmit() " [formGroup]="form">
                    <div class="card mb-3">
                      <div class="card-body">
        
        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                          </div>
                          <input formControlName="name" class="col-sm-5 text-secondary" [value]="user.name" />
                        </div>
        
        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">firstname</h6>
                          </div>
                          <input formControlName="firstname" class="col-sm-5 text-secondary" [value]="user.firstname" />
                        </div>
                        
                        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Country</h6>
                          </div>
                          <input formControlName="country" class="col-sm-5 text-secondary" [value]="user.country" />
                        </div>
                        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">city</h6>
                          </div>
                          <input formControlName="city" class="col-sm-5 text-secondary" [value]="user.city">
                        </div>
                        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Description</h6>
                          </div>
                          <input formControlName="description" class="col-sm-5 text-secondary" [value]="user.description">
                        </div>
        
                        <div class="row justify-content-center">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Number Phone</h6>
                          </div>
                          <input formControlName="numberPhone" class="col-sm-5 text-secondary" [value]="user.numberPhone">
                        </div>
                              
                          <div class="col-sm-12">
                            <button class="btn btn-info pull-right" type="submit">Modifier</button>
                          </div>
          
                      </div>
                    </div>
                  </form>
                </div>


              </div>
            </div>
          </div>
  
        
    

      </div>
    </div>
    </div>
  </div>

      
  