.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulaire Article */
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  background-color: rgb(255, 255, 255);
  border: solid 1px #b3aca7;
  border: solid 2px #000000;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  outline: none;
  background-color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  border: solid 2px #000000;
  border-radius: 10px;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 50px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  border: solid 2px #ffffff;
  border-radius: 10px;
}

/* Language: css Article */


*, *:after, *:before {
  box-sizing: border-box;
}

h2, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

h2, h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

.contentCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 300px;

  

  

  
}




.cardContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin-left: 60px;
  margin-top: 20px;
  
  perspective: 1000px;
}



.card {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
 
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.card .front {
  z-index: 2;
}

.card .info {
  padding: 16px;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}
.front .img1 {
  background-image: url(http://i.imgur.com/1aE1nMA.jpg);
}

