


<app-chart (continent)="onContinentSelected($event)" (pays)="onPaysSelected($event)" (region)="onRegionSelected($event)"></app-chart>


<div class="container">
 

  <div class="selecteur">

    <div class="continents">
      <select class="selectitem" (change)="onChange($event.target.value)">
        <option class="text" value="0">select a continent</option>
        <option
          *ngFor="let category of continents"
          class="text"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="pays">
      <select class="selectitem" (change)="onChange2($event.target.value)">
        <option class="text" value="0">select a country</option>
        <option
          *ngFor="let subcategory of pays"
          class="text"
          [value]="subcategory.id"
        >
          {{ subcategory.name }}
        </option>
      </select>
    </div>

    <div class="pays">
      <select class="selectitem" (change)="onChange3($event.target.value)">
        <option class="text" value="0">select a region</option>
        <option
          *ngFor="let subcategory of regions"
          class="text"
          [value]="subcategory.id"
        >
          {{ subcategory.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="contentCard">
    <div class="cardContainer" *ngFor="let item of listArticles">
      <div class="card">
        <div class="side front">
          <p class="name">{{ item.username }}</p>
          <div
            [style.background-image]="'url(' + urlfiles + item.file + ')'"
            class="img"
          ></div>
          <div class="info">
            <h2>{{ item.pays.name }}</h2>
            <p class="titre">{{ item.titre }}</p>

            <p></p>
          </div>
          <button (click)="sendId(item.id)" class="btn btn-primary">
            See more
          </button>
          <button *ngIf="userConnecter != null"  for="(item.id)" [ngClass]="{'greenheart': item.favoris == true }"  (click)="addFavori(item.id)" class="btn btn-primary">
           ♥ 
          </button>
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="listArticles.length == 0" class="empty-article">
    <p>Aucun article disponible pour le moment 😎</p>
    <button class="create-article-button">Créer un article</button>
  </div>
  
</div>

