

h1 {
  color: #18191b;
  margin-bottom: 2rem;
}

section {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 50px;

}

.titre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.btn{

    justify-content: space-between;
    display: flex;
    flex-direction: row;

}


input[type=radio] {
  display: none;
}
input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

label {
  height: 90%;
  width: 60%;
  display: block;
  background: white;
  border: 2px solid #20df80;
  border-radius: 20px;
  padding: 1rem;
  margin-left: 100px;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

input[type=radio]:checked + label {
  background: #20df80;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type=radio]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #1dc973;
  font-size: 24px;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}




.case-pays {
  display: flex;
  flex-direction: column;
  margin-top: 100px; 
  word-wrap: break-word;
  width: 100px;  
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;


}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row ;

  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  flex-wrap: wrap;

}

.pays{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow: hidden;
  width: 100px;
  height: 20px;
  font-size: 9px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
}




