<div id="formulaireArticle">

  <div class="contenair_haut">

    <div class="titreForm" >
      <h1>Pour commencez votre artcile <hr> Selectionner un continents puis un pays </h1>
    </div>

    <div class="select_destination">

      

    <div class="continents" >

      <select class="selectitem" (change)="onChange($event.target.value)">
        <option class="text" value="0">Quelle continent ?</option>
        <option *ngFor="let category of continentsList" class="text" [value]="category.id">{{category.name}}</option>
      </select>
  </div>
  
  <div class="pays" > 
    
    <select class="selectitem" (change)="onChange2($event.target.value)">
      
      <option class="text" value="0">Quelle pays</option>
      <option  *ngFor="let subcategory of paysList" class="text" [value]="subcategory.id">{{subcategory.name }}</option>
    </select>
  </div>

     </div>


   
      <h1 class="titre_picture" >Selectionner vos plus beau clicher ! <br> 10 photo maximum</h1>
      
        <div>
          <input
            class="input-file"
            accept=".jpg,.png,.PNG,.webp,.svg"
            type="file"
            id="file1"
            name="file"
            multiple="multiple"
           
            (change)="handleFileInput($event)"
          />
        </div>
        
        <div class="image-select" > 
          <img class="image"*ngFor="let image of urls" [src]="image" alt="" width="110" />
        </div>
  


</div>

    
 
  <!-- Formulaire pour le titre et le contenue de l'article  -->
  <div class="container">

   
    <form
      (ngSubmit)="artcileForm.valid && onValid()"
      [formGroup]="artcileForm"
      id="form"
      class="topBefore"
    >
      <div>
       
        <div >
          <div class="row">
            
          </div>
          <div class="row">
            <h4 style="text-align: center">
              Choisiser un titre pour votre article !
            </h4>
          </div>
          <div class="row input-container">
            <div class="col-xs-12">
              <div class="styled-input wide">
                <input
                  formControlName="titre"
                  name="titre"
                  id="name"
                  required=""
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      artcileForm.get('titre').touched &&
                      artcileForm.get('titre').errors
                  }"
                />
              </div>
            </div>

            <div class="col-xs-12">
              <div class="styled-input wide">
                <textarea
                  formControlName="content"
                  id="content"
                  name="content"
                  required=""
                  rows="4"
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      artcileForm.get('content').touched &&
                      artcileForm.get('content').errors
                  }"
                ></textarea>
              </div>
            </div>

            <div class="col-xs-12">
              <button type="submit" id="submit">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
